.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    width: 300px;
}

.sidebar .sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0px 0px 16px; /*SUPERIOR, DIREITA, INFERIOR, ESQUERDA*/
}

.sidebar .sidebar_navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0px 0px 0px;
}

.sidebar_navigation ul {
    margin-top: 20px;
    padding: 0px 20px 10px 0px;
}

.sidebar ul li {
    padding: 10px 0px; /* TOP & BOTTOM, LEFT & RIGHT */
}

.sidebar .sidebar_navigation ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar .sidebar_navigation ul li .fa {
    padding-right: 5px;
}

.sidebar .sidebar_navigation .logo img {
    width: 80px;
}

a, button {
    cursor: pointer;
}