body{
    background-color: black;
}

.sidebar .bottom_navigation {
    height: max-content;
}

.bottom_navigation ul li {
    margin: 5px;
    width: 90%;
    background-color: #0e0e0e;
    border-radius: 10px;
}

.sidebar {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
}

.top_navigation, .bottom_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0px 0px 16px; /*SUPERIOR, DIREITA, INFERIOR, ESQUERDA*/
    margin: 16px 16px;
}

.sidebar_navigation {
    background-color: black;
    
}

.sidebar .sidebar_navigation .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 12px 0px 0px 12px;
}

.sidebar .sidebar_navigation ul {
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0px; /* TOP & BOTTOM, LEFT & RIGHT */
}
.bottom_navigation div {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.sidebar a, .sidebar i, .playlists{
    color: #b3b3b3;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.sidebar .sidebar_navigation ul li .fa {
    padding-right: 2%;
}

.sidebar .sidebar_navigation .logo img {
    width: 80px;
}